# Ignore the bin directory if it exists.
bin

# Ignore the documentation directory.
docs/cosmo_docs

# Ignore object files.
*.o

# Ignore ELF files.
*.elf

# Ignore the Bochs log directory.
scripts/bochs_logs

# Ignore CMake build directories.
/build*
